[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
mysql-connector-python = "*"
pymysql = "*"
pipenv = "*"
mysqlx-connector-python = "*"
autopep8 = "*"
pep8 = "*"
pyjslint = "*"

[dev-packages]

[requires]
python_version = "3.11"
