[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
mysql-connector-python = "*"
pipenv = "*"
mysqlx-connector-python = "*"
pip = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.11"
