[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
mysql-connector-python = "*"
pipenv = "*"
pandas = "*"
numpy = "*"
plotly = "*"
seaborn = "*"
asciimatics = "*"
faker = "*"
pymysql = "*"
phonenumbers = "*"
verify-email = "*"

[dev-packages]

[requires]
python_version = "3.11"
